/* CONTENT BOXES */
.border-right {
  border-right: 1px solid #E4E7EA !important;
}

.card {
  border-radius: 6px;
  border: none;
  box-shadow: 0 0 17px 0 rgba(177,177,177,0.5);
  margin-bottom: 0.5rem;
  .card-body {
    .card-body-title {
      color: #29363d;
    }
  }
}

.btn-outline-secondary:hover {
  color: #fff !important;
  border-color: #819098;
}

.course-url.btn:disabled {
  border: 0;
  background-color: transparent !important;
}
