<!-- This component is not used in the app now -->

<!--Progress Bar Code-->
<div class="progress_bar d-none d-sm-block">
  <div class="progress_bar__container " *ngIf="!isLoading">

    <div class="progress_bar__first_column progress_bar_column complete">
      <div class="progress_bar__top_box">
        <h5>
          <span [translate]="'iDashboard.Now'"></span>
        </h5>
      </div>
      <div class="progress_bar__main_box"  tooltip="Vivamus sagittis">
        <div class="progress_bar__line first"></div>
        <div class="progress_bar__circle">
          <i class="fas fa-check"></i>
        </div>
        <div class="progress_bar__line second"></div>
      </div>
      <div class="progress_bar__bottom_box">
        <h6>
          <span [translate]="'iDashboard.SemesterStart'"></span>
        </h6>
      </div>
    </div>

    <div class="progress_bar__inner_column progress_bar_column" [ngClass]="{'active': !isactive}">
      <div class="progress_bar__top_box">
        <h5>
          <span [translate]="'iDashboard.Now'"></span>
        </h5>
      </div>
      <div class="progress_bar__main_box">
        <div class="progress_bar__line first"></div>
        <div class="progress_bar__circle"><i class="fas fa-check"></i></div>
        <div class="progress_bar__line second"></div>
      </div>
      <div class="progress_bar__bottom_box">
        <h6>
          <span [translate]="'iDashboard.RegistrationSemester'"></span>
        </h6>
      </div>
    </div>

    <div class="progress_bar__inner_column progress_bar_column">
      <div class="progress_bar__top_box">
        <h5>
          <span [translate]="'iDashboard.Now'"></span>
        </h5>
      </div>
      <div class="progress_bar__main_box ">
        <div class="progress_bar__line first"></div>
        <div class="progress_bar__circle"><i class="fas fa-check"></i></div>
        <div class="progress_bar__line second"></div>
      </div>
      <div class="progress_bar__bottom_box">
        <h6>
          <span [translate]="'iDashboard.RegistrationCourses'"></span>
        </h6>
      </div>
    </div>

    <div class="progress_bar__inner_column progress_bar_column" >
      <div class="progress_bar__top_box">
        <h5>
          <span [translate]="'iDashboard.Now'"></span>
        </h5>
      </div>
      <div class="progress_bar__main_box">
        <div class="progress_bar__line first"></div>
        <div class="progress_bar__circle"><i class="fas fa-check"></i></div>
        <div class="progress_bar__line second"></div>
      </div>
      <div class="progress_bar__bottom_box">
        <h6 *ngIf="!ishide">
          <span [translate]="'iDashboard.SemesterStart'"></span>
        </h6>
      </div>
    </div>

    <div class="progress_bar__inner_column progress_bar_column" >
      <div class="progress_bar__top_box">
        <h5>
          <span [translate]="'iDashboard.Now'"></span>
        </h5>
      </div>
      <div class="progress_bar__main_box">
        <div class="progress_bar__line first"></div>
        <div class="progress_bar__small_circle_box">
          <div class="progress_bar__small_circle"></div>
          <div class="progress_bar__small_circle"></div>
          <div class="progress_bar__small_circle"></div>
        </div>
        <div class="progress_bar__line second"></div>
      </div>
      <div class="progress_bar__bottom_box">
        <h6 *ngIf="!ishide">
          <span [translate]="'iDashboard.SemesterStart'"></span>
        </h6>
      </div>
    </div>

  </div>
</div>
<!--End of Progress Bar Code-->
