<div class="clear-content-area mb-3">
  <div class ="d-none d-md-block">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['recent']" routerLinkActive="active" [translate]="'Grades.RecentGrades'" ></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['all']" routerLinkActive="active" [translate]="'Grades.AllGrades'" ></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['theses']" routerLinkActive="active" [translate]="'Grades.Theses'" ></a>
      </li>
    </ul>
  </div>
  <div class="d-sm-block d-md-none d-lg-none">
    <ul class="nav bg-white d-flex justify-content-around s--nav-tabs">
      <li class="nav-item">
        <a class="nav-link text-dark font-sm" routerLinkActive="active" title="{{ 'RecentGradesShort'| translate}}" [ngClass]="{active : viewMode === 'tab1'}" (click)="viewMode = 'tab1'" rel="tab1" [routerLink]="['recent']">{{ 'Grades.RecentGradesShort' | translate}}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark font-sm" routerLinkActive="active" title="{{ 'AllGradesShort'| translate}}" [ngClass]="{active : viewMode === 'tab2'}" (click)="viewMode = 'tab2'" rel="tab2" [routerLink]="['all']">{{ 'Grades.AllGradesShort' | translate}}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark font-sm" routerLinkActive="active" title="{{ 'Grades.Theses'| translate}}" [ngClass]="{active : viewMode === 'tab3'}" (click)="viewMode = 'tab3'" rel="tab3" [routerLink]="['theses']">{{ 'Grades.Theses' | translate}}</a>
      </li>
    </ul>
  </div>
  <router-outlet></router-outlet>
</div>
